body {
  font-family: sans-serif;
  text-align: center;
  background: #f0f0f0;
  padding: 20px;
}

img {
  max-width: 90%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
